#header {
	width: 100%;
	height: 100vh;
	background-color: #fff;
	color: #fff;
	position: relative;
}

#header .top-pattern {
	position: absolute;
	width: 100px;
	height: 160px;
	top: 0;
}

#header .rec {
	background-color: #ae42c9;
	border-radius: 20px;
	padding: 5px;
}

#header h1 {
	font-size: 45px;
	width: 541px;
	font-weight: 300;
	font-weight: bold;
	font-style: normal;
	line-height: 55px;
}
#header h3 {
	width: 352px;
	height: 20px;
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	line-height: 20px;
}

#header p {
	font-size: 1.25rem;
	font-weight: 300;
	width: 633px;
	font-style: normal;
	font-weight: 300;
	line-height: 30px;
}
#header .btn-start {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 30px;
	overflow: hidden;
	color: #ae42c9;
	background-color: #fff;
	border: 2px solid #fff;
	width: 200px;
	height: 45px;
}
#header input[type="submit"] {
	font-weight: 600;
}

#header .left-grp {
	padding: 20px;
}
#header .rt-grp {
	padding: 20px;
}

#header .rt-grp .mobile-gif {
	max-width: 90%;
	height: auto;
}
