.navbar {
	position: fixed !important ;
	color: #fff;
	top: 0px;
	width: 100%;
	z-index: 10;
	display: flex;
}

.navbar.active {
	background-color: #fff;
	display: flex;
}

.navbar ul {
	display: flex !important;
	flex-direction: row;
}

.navbar .nav-icon {
	width: 18px;
	height: 20px;
	margin: 0.5rem;
}

.logo {
	width: 60%;
	height: 5%;
	padding-left: 5rem;
}

.navbar .apple-store {
	width: 70%;
}
